:root {
  --color-oceanblue: #03045e;
  --color-skyblue: #0077b6;
  --color-lightblue: #00b4d8;
  --color-dolphinblue: #90e0ef;
  --color-white: #fff;
}

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  padding: 0px;
  line-height: 2;
}

body {
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  min-height: 100%;
}
