:root {
  --color-oceanblue: #03045e;
  --color-skyblue: #0077b6;
  --color-lightblue: #00b4d8;
  --color-dolphinblue: #90e0ef;
  --color-white: #fff;
}

main {
  margin: 20px;
  box-sizing: content-box;
  padding: 20px;
  border: solid black;
  border-width: thin;
  overflow: auto;
}
