:root {
  --color-oceanblue: #4144da;
  --color-skyblue: #0077b6;
  --color-lightblue: #00b4d8;
  --color-dolphinblue: #90e0ef;
  --color-white: #fff;
  --font: "Bricolage Grotesque", sans-serif;
  --color-text: var(--color-black);
}

header {
  background-color: var(--color-lightblue);
  padding: 2em;
  text-align: center;
}
h1 {
  text-align: center;
  margin: 5px;
  padding: 10px;
  width: 100%;
}
